<div class = "sidenav">
    <div class="side-nav-cont">
        <button class = "close-side-nav-btn" onclick="toggle_show()">
            <span><img class="close-img align-img-vertical" width="32" height="32"></span>
        </button>
    </div>
    <div class="navbar">
        <div class="dropdown">
            <button class="dropbtn">Dropdown 
            <span>
                <img class="dropdown-img align-img-vertical">
            </span>
            </button>
            <div class="dropdown-content">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
            </div>
        </div> 
            
    </div>
    <div class="navbar">
        <div class="dropdown">
            <button class="dropbtn">Dropdown 2
            <span>
                <img class="dropdown-img align-img-vertical">
            </span>
            </button>
            <div class="dropdown-content">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
            </div>
        </div>
    </div>
</div>